

<div class="span6 offset3">

	<div class="boxy">

		<h1 class ="custom-font">utileus</h1>


		<p>I'm at the firehose weekend at the cambridge innovation center. Installing was the most fun ever! Now we're making this shit happen.</p>
		<%= link_to('Check out my App', '#', :class => 'btn btn-success btn-large') %>

	</div>
</div>