<div class="span6 offset3">
	<div class="boxy text-center">
	<h1 class="custom-pic-header">Add New Picture</h1>
</div>
	<div class="boxy text-center">
<h4>Hello, <%= current_user.email %></h4>
This page will be displayed when you are logged in and visit your user profile.


</div>
</div>
