
<h2 class="custom-pic-header">Here are all the pics!</h2>



		<% @pics.each do |pic| %>
		<div class="span3">
		<div class="boxy">
			<H2>Hour: <%= pic.hour %></H2>
			<H4>Emotion: <br /><%= pic.emotion %></H4>
				<p />
				<br />
			<H5>What I Learned:</H5> <p><i><%= pic.learned %></i></p>
				<p />
			<p />
			
		</div>
		</div>

			
	<% end %>
	<br />


